/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.ellipsis {
  white-space: nowrap;
  /* 1 */
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

* {
  max-height: 1000000px; }

body {
  color: #333;
  background: #fff;
  font: 16px/1.2 "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

img {
  max-width: 100%;
  height: auto; }

.gm-style img {
  max-width: none; }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.h {
  font-family: inherit;
  font-weight: bold;
  margin: 0 0 0.5em;
  color: inherit; }

h1, .h1 {
  font-size: 30px; }

h2, .h2 {
  font-size: 27px; }

h3, .h3 {
  font-size: 24px; }

h4, .h4 {
  font-size: 21px; }

h5, .h5 {
  font-size: 17px; }

h6, .h6 {
  font-size: 15px; }

p {
  margin: 0 0 1em; }

a {
  color: #39f; }
  a:hover, a:focus {
    text-decoration: none; }

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none; }

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  box-sizing: border-box;
  border: 1px solid #999;
  padding: 0.4em 0.7em; }
  input[type='text']:focus,
  input[type='tel']:focus,
  input[type='email']:focus,
  input[type='search']:focus,
  input[type='password']:focus,
  textarea:focus {
    border-color: #333; }
  input[type='text']::-webkit-input-placeholder,
  input[type='tel']::-webkit-input-placeholder,
  input[type='email']::-webkit-input-placeholder,
  input[type='search']::-webkit-input-placeholder,
  input[type='password']::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #999; }
  input[type='text']::-moz-placeholder,
  input[type='tel']::-moz-placeholder,
  input[type='email']::-moz-placeholder,
  input[type='search']::-moz-placeholder,
  input[type='password']::-moz-placeholder,
  textarea::-moz-placeholder {
    opacity: 1;
    color: #999; }
  input[type='text']:-moz-placeholder,
  input[type='tel']:-moz-placeholder,
  input[type='email']:-moz-placeholder,
  input[type='search']:-moz-placeholder,
  input[type='password']:-moz-placeholder,
  textarea:-moz-placeholder {
    color: #999; }
  input[type='text']:-ms-input-placeholder,
  input[type='tel']:-ms-input-placeholder,
  input[type='email']:-ms-input-placeholder,
  input[type='search']:-ms-input-placeholder,
  input[type='password']:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: #999; }
  input[type='text'].placeholder,
  input[type='tel'].placeholder,
  input[type='email'].placeholder,
  input[type='search'].placeholder,
  input[type='password'].placeholder,
  textarea.placeholder {
    color: #999; }

select {
  -webkit-border-radius: 0; }

textarea {
  resize: vertical;
  vertical-align: top; }

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  cursor: pointer; }

#wrapper {
  width: 900px;
  height: 900px;
  border: 1px solid #3d3d3d;
  position: relative; }

.wrap {
  top: 40%;
  left: 40%;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute; }

.main {
  height: 300px;
  width: 300px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
  -webkit-transform: rotateX(-30deg) rotateY(-30deg) rotateZ(0deg);
          transform: rotateX(-30deg) rotateY(-30deg) rotateZ(0deg); }

[class^="holder"] {
  width: 100px;
  height: 100px;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(-30deg) rotateY(-30deg) rotateZ(0deg);
          transform: rotateX(-30deg) rotateY(-30deg) rotateZ(0deg); }

[class^="cub"] {
  width: 100px;
  height: 100px;
  margin: 0;
  position: absolute;
  box-sizing: border-box;
  -webkit-transition: -webkit-transform 0.2s ease-in;
          transition: transform 0.2s ease-in;
  border-radius: 6px;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }
  [class^="cub"] > div {
    width: 100px;
    height: 100px;
    margin: 0;
    position: absolute;
    box-sizing: border-box;
    -webkit-transition: -webkit-transform 0.2s ease-in;
            transition: transform 0.2s ease-in;
    border: 3px solid #3d3d3d;
    border-radius: 6px;
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center; }

.a {
  background-color: #4d94ff;
  -webkit-transform: translateZ(50px) translateX(0px);
          transform: translateZ(50px) translateX(0px); }

.b {
  background-color: #29a329;
  -webkit-transform: translateZ(-50px) translateX(0px);
          transform: translateZ(-50px) translateX(0px); }

.c {
  background-color: #e62e00;
  -webkit-transform: rotateX(90deg) translateZ(50px);
          transform: rotateX(90deg) translateZ(50px); }

.d {
  background-color: #ffffff;
  -webkit-transform: rotateX(90deg) translateZ(-50px);
          transform: rotateX(90deg) translateZ(-50px); }

.e {
  background-color: #ff9933;
  -webkit-transform: rotateY(90deg) translateZ(-50px);
          transform: rotateY(90deg) translateZ(-50px); }

.f {
  background-color: #ffff80;
  -webkit-transform: rotateY(90deg) translateZ(50px);
          transform: rotateY(90deg) translateZ(50px); }

.rotate-first {
  -webkit-animation: first 12s linear forwards;
          animation: first 12s linear forwards; }

@-webkit-keyframes first {
  0% {
    -webkit-transform: rotateX(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateZ(0deg); }
  16.67%, 100% {
    -webkit-transform: rotateX(0deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateZ(360deg); } }

@keyframes first {
  0% {
    -webkit-transform: rotateX(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateZ(0deg); }
  16.67%, 100% {
    -webkit-transform: rotateX(0deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateZ(360deg); } }

.rotate-second {
  -webkit-animation: second 12s linear forwards;
          animation: second 12s linear forwards; }

@-webkit-keyframes second {
  0%, 16.67% {
    -webkit-transform: rotateX(0deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateZ(360deg); }
  33.34%, 100% {
    -webkit-transform: rotateX(360deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateZ(360deg); } }

@keyframes second {
  0%, 16.67% {
    -webkit-transform: rotateX(0deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateZ(360deg); }
  33.34%, 100% {
    -webkit-transform: rotateX(360deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateZ(360deg); } }

.rotate-third {
  -webkit-animation: third 12s linear forwards;
          animation: third 12s linear forwards; }

@-webkit-keyframes third {
  0%, 33.34% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg); }
  50.1%, 100% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg); } }

@keyframes third {
  0%, 33.34% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg); }
  50.1%, 100% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg); } }

.rotate-fourth {
  -webkit-animation: fourth 12s linear forwards;
          animation: fourth 12s linear forwards; }

@-webkit-keyframes fourth {
  0%, 50.1% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg); }
  66.68%, 100% {
    -webkit-transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg); } }

@keyframes fourth {
  0%, 50.1% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg); }
  66.68%, 100% {
    -webkit-transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg); } }

.rotate-fifth {
  -webkit-animation: fifth 12s linear forwards;
          animation: fifth 12s linear forwards; }

@-webkit-keyframes fifth {
  0%, 66.68% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  83.35%, 100% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg); } }

@keyframes fifth {
  0%, 66.68% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  83.35%, 100% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg); } }

.rotate-sixth {
  -webkit-animation: sixth 12s linear forwards;
          animation: sixth 12s linear forwards; }

@-webkit-keyframes sixth {
  0%, 83.35% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  100% {
    -webkit-transform: rotateX(0deg) rotateY(360deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(360deg) rotateZ(0deg); } }

@keyframes sixth {
  0%, 83.35% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  100% {
    -webkit-transform: rotateX(0deg) rotateY(360deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(360deg) rotateZ(0deg); } }

.rotate-rotate1 {
  -webkit-animation: rotate1 12s linear forwards;
          animation: rotate1 12s linear forwards; }

@-webkit-keyframes rotate1 {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  16.67% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg); }
  33.34% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg); }
  50.1% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg); }
  66.68% {
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
  83.35%, 100% {
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); } }

@keyframes rotate1 {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  16.67% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg); }
  33.34% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg); }
  50.1% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg); }
  66.68% {
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
  83.35%, 100% {
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); } }

.rotate-rotate2 {
  -webkit-animation: rotate2 12s linear forwards;
          animation: rotate2 12s linear forwards; }

@-webkit-keyframes rotate2 {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  16.67% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg); }
  33.34% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg); }
  50.1% {
    -webkit-transform: rotateX(-360deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(-360deg) rotateY(0deg) rotateZ(360deg); }
  66.68% {
    -webkit-transform: rotateX(-360deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(-360deg) rotateY(360deg) rotateZ(360deg); }
  83.35%, 100% {
    -webkit-transform: rotateX(-360deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(-360deg) rotateY(360deg) rotateZ(360deg); } }

@keyframes rotate2 {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  16.67% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg); }
  33.34% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg); }
  50.1% {
    -webkit-transform: rotateX(-360deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(-360deg) rotateY(0deg) rotateZ(360deg); }
  66.68% {
    -webkit-transform: rotateX(-360deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(-360deg) rotateY(360deg) rotateZ(360deg); }
  83.35%, 100% {
    -webkit-transform: rotateX(-360deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(-360deg) rotateY(360deg) rotateZ(360deg); } }

.rotate-rotate3 {
  -webkit-animation: rotate3 12s linear forwards;
          animation: rotate3 12s linear forwards; }

@-webkit-keyframes rotate3 {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  16.67% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg); }
  33.34% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg); }
  50.1% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg); }
  66.68% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg); }
  83.35% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg); }
  100% {
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); } }

@keyframes rotate3 {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  16.67% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg); }
  33.34% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg); }
  50.1% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg); }
  66.68% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg); }
  83.35% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg); }
  100% {
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); } }

.rotate-rotate4 {
  -webkit-animation: rotate4 12s linear forwards;
          animation: rotate4 12s linear forwards; }

@-webkit-keyframes rotate4 {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  16.67% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg); }
  33.34% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg); }
  50.1% {
    -webkit-transform: rotateX(-360deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(-360deg) rotateY(0deg) rotateZ(360deg); }
  66.68% {
    -webkit-transform: rotateX(-360deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(-360deg) rotateY(0deg) rotateZ(360deg); }
  83.35% {
    -webkit-transform: rotateX(-360deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(-360deg) rotateY(0deg) rotateZ(360deg); }
  100% {
    -webkit-transform: rotateX(-360deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(-360deg) rotateY(360deg) rotateZ(360deg); } }

@keyframes rotate4 {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  16.67% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg); }
  33.34% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg); }
  50.1% {
    -webkit-transform: rotateX(-360deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(-360deg) rotateY(0deg) rotateZ(360deg); }
  66.68% {
    -webkit-transform: rotateX(-360deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(-360deg) rotateY(0deg) rotateZ(360deg); }
  83.35% {
    -webkit-transform: rotateX(-360deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(-360deg) rotateY(0deg) rotateZ(360deg); }
  100% {
    -webkit-transform: rotateX(-360deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(-360deg) rotateY(360deg) rotateZ(360deg); } }

.rotate-rotate5 {
  -webkit-animation: rotate5 12s linear forwards;
          animation: rotate5 12s linear forwards; }

@-webkit-keyframes rotate5 {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  16.67% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  33.34% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg); }
  50.1% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg); }
  66.68% {
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(0deg);
            transform: rotateX(360deg) rotateY(360deg) rotateZ(0deg); }
  83.35% {
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
  100% {
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); } }

@keyframes rotate5 {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  16.67% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  33.34% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg); }
  50.1% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg); }
  66.68% {
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(0deg);
            transform: rotateX(360deg) rotateY(360deg) rotateZ(0deg); }
  83.35% {
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
  100% {
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); } }

.rotate-rotate6 {
  -webkit-animation: rotate6 12s linear forwards;
          animation: rotate6 12s linear forwards; }

@-webkit-keyframes rotate6 {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  16.67% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  33.34% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  50.1% {
    -webkit-transform: rotateX(-360deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(-360deg) rotateY(0deg) rotateZ(0deg); }
  66.68% {
    -webkit-transform: rotateX(-360deg) rotateY(360deg) rotateZ(0deg);
            transform: rotateX(-360deg) rotateY(360deg) rotateZ(0deg); }
  83.35% {
    -webkit-transform: rotateX(-360deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(-360deg) rotateY(360deg) rotateZ(360deg); }
  100% {
    -webkit-transform: rotateX(-360deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(-360deg) rotateY(360deg) rotateZ(360deg); } }

@keyframes rotate6 {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  16.67% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  33.34% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  50.1% {
    -webkit-transform: rotateX(-360deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(-360deg) rotateY(0deg) rotateZ(0deg); }
  66.68% {
    -webkit-transform: rotateX(-360deg) rotateY(360deg) rotateZ(0deg);
            transform: rotateX(-360deg) rotateY(360deg) rotateZ(0deg); }
  83.35% {
    -webkit-transform: rotateX(-360deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(-360deg) rotateY(360deg) rotateZ(360deg); }
  100% {
    -webkit-transform: rotateX(-360deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(-360deg) rotateY(360deg) rotateZ(360deg); } }

.rotate-rotate7 {
  -webkit-animation: rotate7 12s linear forwards;
          animation: rotate7 12s linear forwards; }

@-webkit-keyframes rotate7 {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  16.67% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  33.34% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg); }
  50.1% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg); }
  66.68% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg); }
  83.35% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg); }
  100% {
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); } }

@keyframes rotate7 {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  16.67% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  33.34% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg); }
  50.1% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg); }
  66.68% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg); }
  83.35% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg); }
  100% {
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); } }

.rotate-rotate8 {
  -webkit-animation: rotate8 12s linear forwards;
          animation: rotate8 12s linear forwards; }

@-webkit-keyframes rotate8 {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  16.67% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  33.34% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  50.1% {
    -webkit-transform: rotateX(-360deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(-360deg) rotateY(0deg) rotateZ(0deg); }
  66.68% {
    -webkit-transform: rotateX(-360deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(-360deg) rotateY(0deg) rotateZ(0deg); }
  83.35% {
    -webkit-transform: rotateX(-360deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(-360deg) rotateY(0deg) rotateZ(360deg); }
  100% {
    -webkit-transform: rotateX(-360deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(-360deg) rotateY(360deg) rotateZ(360deg); } }

@keyframes rotate8 {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  16.67% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  33.34% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  50.1% {
    -webkit-transform: rotateX(-360deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(-360deg) rotateY(0deg) rotateZ(0deg); }
  66.68% {
    -webkit-transform: rotateX(-360deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(-360deg) rotateY(0deg) rotateZ(0deg); }
  83.35% {
    -webkit-transform: rotateX(-360deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(-360deg) rotateY(0deg) rotateZ(360deg); }
  100% {
    -webkit-transform: rotateX(-360deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(-360deg) rotateY(360deg) rotateZ(360deg); } }

.rotate-rotate9 {
  -webkit-animation: rotate9 12s linear forwards;
          animation: rotate9 12s linear forwards; }

@-webkit-keyframes rotate9 {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  16.67% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg); }
  33.34% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg); }
  50.1% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg); }
  66.68% {
    -webkit-transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg); }
  83.35% {
    -webkit-transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg); }
  100% {
    -webkit-transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg); } }

@keyframes rotate9 {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  16.67% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg); }
  33.34% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg); }
  50.1% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg); }
  66.68% {
    -webkit-transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg); }
  83.35% {
    -webkit-transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg); }
  100% {
    -webkit-transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg); } }

.rotate-rotate10 {
  -webkit-animation: rotate10 12s linear forwards;
          animation: rotate10 12s linear forwards; }

@-webkit-keyframes rotate10 {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  16.67% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg); }
  33.34% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg); }
  50.1% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg); }
  66.68% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg); }
  83.35% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg); }
  100% {
    -webkit-transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg); } }

@keyframes rotate10 {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  16.67% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg); }
  33.34% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg); }
  50.1% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg); }
  66.68% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg); }
  83.35% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg); }
  100% {
    -webkit-transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg); } }

.rotate-rotate11 {
  -webkit-animation: rotate11 12s linear forwards;
          animation: rotate11 12s linear forwards; }

@-webkit-keyframes rotate11 {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  16.67% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg); }
  33.34% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg); }
  50.1% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg); }
  66.68% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg); }
  83.35% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg); }
  100% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg); } }

@keyframes rotate11 {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  16.67% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg); }
  33.34% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg); }
  50.1% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg); }
  66.68% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg); }
  83.35% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg); }
  100% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg); } }

.rotate-rotate12 {
  -webkit-animation: rotate12 12s linear forwards;
          animation: rotate12 12s linear forwards; }

@-webkit-keyframes rotate12 {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  16.67% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg); }
  33.34% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg); }
  50.1% {
    -webkit-transform: rotateX(-360deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(-360deg) rotateY(0deg) rotateZ(360deg); }
  66.68% {
    -webkit-transform: rotateX(-360deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(-360deg) rotateY(0deg) rotateZ(360deg); }
  83.35% {
    -webkit-transform: rotateX(-360deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(-360deg) rotateY(0deg) rotateZ(360deg); }
  100% {
    -webkit-transform: rotateX(-360deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(-360deg) rotateY(0deg) rotateZ(360deg); } }

@keyframes rotate12 {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  16.67% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg); }
  33.34% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg); }
  50.1% {
    -webkit-transform: rotateX(-360deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(-360deg) rotateY(0deg) rotateZ(360deg); }
  66.68% {
    -webkit-transform: rotateX(-360deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(-360deg) rotateY(0deg) rotateZ(360deg); }
  83.35% {
    -webkit-transform: rotateX(-360deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(-360deg) rotateY(0deg) rotateZ(360deg); }
  100% {
    -webkit-transform: rotateX(-360deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(-360deg) rotateY(0deg) rotateZ(360deg); } }

.rotate-rotate13 {
  -webkit-animation: rotate13 12s linear forwards;
          animation: rotate13 12s linear forwards; }

@-webkit-keyframes rotate13 {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  16.67% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  33.34% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  50.1% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  66.68% {
    -webkit-transform: rotateX(0deg) rotateY(360deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(360deg) rotateZ(0deg); }
  83.35% {
    -webkit-transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg); }
  100% {
    -webkit-transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg); } }

@keyframes rotate13 {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  16.67% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  33.34% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  50.1% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  66.68% {
    -webkit-transform: rotateX(0deg) rotateY(360deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(360deg) rotateZ(0deg); }
  83.35% {
    -webkit-transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg); }
  100% {
    -webkit-transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg); } }

.rotate-rotate14 {
  -webkit-animation: rotate14 12s linear forwards;
          animation: rotate14 12s linear forwards; }

@-webkit-keyframes rotate14 {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  16.67% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  33.34% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  50.1% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  66.68% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  83.35% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg); }
  100% {
    -webkit-transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg); } }

@keyframes rotate14 {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  16.67% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  33.34% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  50.1% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  66.68% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  83.35% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg); }
  100% {
    -webkit-transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg); } }

.rotate-rotate15 {
  -webkit-animation: rotate15 12s linear forwards;
          animation: rotate15 12s linear forwards; }

@-webkit-keyframes rotate15 {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  16.67% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  33.34% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg); }
  50.1% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg); }
  66.68% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg); }
  83.35% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg); }
  100% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg); } }

@keyframes rotate15 {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  16.67% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  33.34% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg); }
  50.1% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg); }
  66.68% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg); }
  83.35% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg); }
  100% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg); } }

.rotate-rotate16 {
  -webkit-animation: rotate16 12s linear forwards;
          animation: rotate16 12s linear forwards; }

@-webkit-keyframes rotate16 {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  16.67% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  33.34% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  50.1% {
    -webkit-transform: rotateX(-360deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(-360deg) rotateY(0deg) rotateZ(0deg); }
  66.68% {
    -webkit-transform: rotateX(-360deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(-360deg) rotateY(0deg) rotateZ(0deg); }
  83.35% {
    -webkit-transform: rotateX(-360deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(-360deg) rotateY(0deg) rotateZ(360deg); }
  100% {
    -webkit-transform: rotateX(-360deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(-360deg) rotateY(0deg) rotateZ(360deg); } }

@keyframes rotate16 {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  16.67% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  33.34% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  50.1% {
    -webkit-transform: rotateX(-360deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(-360deg) rotateY(0deg) rotateZ(0deg); }
  66.68% {
    -webkit-transform: rotateX(-360deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(-360deg) rotateY(0deg) rotateZ(0deg); }
  83.35% {
    -webkit-transform: rotateX(-360deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(-360deg) rotateY(0deg) rotateZ(360deg); }
  100% {
    -webkit-transform: rotateX(-360deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(-360deg) rotateY(0deg) rotateZ(360deg); } }

.rotate-rotate17 {
  -webkit-animation: rotate17 12s linear forwards;
          animation: rotate17 12s linear forwards; }

@-webkit-keyframes rotate17 {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  16.67% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  33.34% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg); }
  50.1% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg); }
  66.68% {
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(0deg);
            transform: rotateX(360deg) rotateY(360deg) rotateZ(0deg); }
  83.35% {
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(0deg);
            transform: rotateX(360deg) rotateY(360deg) rotateZ(0deg); }
  100% {
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(0deg);
            transform: rotateX(360deg) rotateY(360deg) rotateZ(0deg); } }

@keyframes rotate17 {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  16.67% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  33.34% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg); }
  50.1% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg); }
  66.68% {
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(0deg);
            transform: rotateX(360deg) rotateY(360deg) rotateZ(0deg); }
  83.35% {
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(0deg);
            transform: rotateX(360deg) rotateY(360deg) rotateZ(0deg); }
  100% {
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(0deg);
            transform: rotateX(360deg) rotateY(360deg) rotateZ(0deg); } }

.rotate-rotate18 {
  -webkit-animation: rotate18 12s linear forwards;
          animation: rotate18 12s linear forwards; }

@-webkit-keyframes rotate18 {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  16.67% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  33.34% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg); }
  50.1% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg); }
  66.68% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg); }
  83.35% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg); }
  100% {
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(0deg);
            transform: rotateX(360deg) rotateY(360deg) rotateZ(0deg); } }

@keyframes rotate18 {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  16.67% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  33.34% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg); }
  50.1% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg); }
  66.68% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg); }
  83.35% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg); }
  100% {
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(0deg);
            transform: rotateX(360deg) rotateY(360deg) rotateZ(0deg); } }

.rotate-rotate19 {
  -webkit-animation: rotate19 12s linear forwards;
          animation: rotate19 12s linear forwards; }

@-webkit-keyframes rotate19 {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  16.67% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  33.34% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  50.1% {
    -webkit-transform: rotateX(-360deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(-360deg) rotateY(0deg) rotateZ(0deg); }
  66.68% {
    -webkit-transform: rotateX(-360deg) rotateY(360deg) rotateZ(0deg);
            transform: rotateX(-360deg) rotateY(360deg) rotateZ(0deg); }
  83.35% {
    -webkit-transform: rotateX(-360deg) rotateY(360deg) rotateZ(0deg);
            transform: rotateX(-360deg) rotateY(360deg) rotateZ(0deg); }
  100% {
    -webkit-transform: rotateX(-360deg) rotateY(360deg) rotateZ(0deg);
            transform: rotateX(-360deg) rotateY(360deg) rotateZ(0deg); } }

@keyframes rotate19 {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  16.67% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  33.34% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  50.1% {
    -webkit-transform: rotateX(-360deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(-360deg) rotateY(0deg) rotateZ(0deg); }
  66.68% {
    -webkit-transform: rotateX(-360deg) rotateY(360deg) rotateZ(0deg);
            transform: rotateX(-360deg) rotateY(360deg) rotateZ(0deg); }
  83.35% {
    -webkit-transform: rotateX(-360deg) rotateY(360deg) rotateZ(0deg);
            transform: rotateX(-360deg) rotateY(360deg) rotateZ(0deg); }
  100% {
    -webkit-transform: rotateX(-360deg) rotateY(360deg) rotateZ(0deg);
            transform: rotateX(-360deg) rotateY(360deg) rotateZ(0deg); } }

.rotate-rotate20 {
  -webkit-animation: rotate20 12s linear forwards;
          animation: rotate20 12s linear forwards; }

@-webkit-keyframes rotate20 {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  16.67% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  33.34% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  50.1% {
    -webkit-transform: rotateX(-360deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(-360deg) rotateY(0deg) rotateZ(0deg); }
  66.68% {
    -webkit-transform: rotateX(-360deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(-360deg) rotateY(0deg) rotateZ(0deg); }
  83.35% {
    -webkit-transform: rotateX(-360deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(-360deg) rotateY(0deg) rotateZ(0deg); }
  100% {
    -webkit-transform: rotateX(-360deg) rotateY(360deg) rotateZ(0deg);
            transform: rotateX(-360deg) rotateY(360deg) rotateZ(0deg); } }

@keyframes rotate20 {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  16.67% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  33.34% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  50.1% {
    -webkit-transform: rotateX(-360deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(-360deg) rotateY(0deg) rotateZ(0deg); }
  66.68% {
    -webkit-transform: rotateX(-360deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(-360deg) rotateY(0deg) rotateZ(0deg); }
  83.35% {
    -webkit-transform: rotateX(-360deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(-360deg) rotateY(0deg) rotateZ(0deg); }
  100% {
    -webkit-transform: rotateX(-360deg) rotateY(360deg) rotateZ(0deg);
            transform: rotateX(-360deg) rotateY(360deg) rotateZ(0deg); } }

.holder .cub-1 {
  -webkit-transform: translateX(0px) translateY(0px) translateZ(100px);
          transform: translateX(0px) translateY(0px) translateZ(100px); }

.holder .cub-2 {
  -webkit-transform: translateX(0px) translateY(0px) translateZ(-100px);
          transform: translateX(0px) translateY(0px) translateZ(-100px); }

.holder .cub-3 {
  -webkit-transform: translateX(0px) translateY(-100px) translateZ(0px);
          transform: translateX(0px) translateY(-100px) translateZ(0px); }

.holder .cub-4 {
  -webkit-transform: translateX(0px) translateY(100px) translateZ(0px);
          transform: translateX(0px) translateY(100px) translateZ(0px); }

.holder .cub-5 {
  -webkit-transform: translateX(-100px) translateY(0px) translateZ(0px);
          transform: translateX(-100px) translateY(0px) translateZ(0px); }

.holder .cub-6 {
  -webkit-transform: translateX(100px) translateY(0px) translateZ(0px);
          transform: translateX(100px) translateY(0px) translateZ(0px); }

.holder .cub-7 {
  -webkit-transform: translateX(-100px) translateY(-100px) translateZ(100px);
          transform: translateX(-100px) translateY(-100px) translateZ(100px); }

.holder .cub-8 {
  -webkit-transform: translateX(100px) translateY(-100px) translateZ(100px);
          transform: translateX(100px) translateY(-100px) translateZ(100px); }

.holder .cub-9 {
  -webkit-transform: translateX(-100px) translateY(100px) translateZ(100px);
          transform: translateX(-100px) translateY(100px) translateZ(100px); }

.holder .cub-10 {
  -webkit-transform: translateX(100px) translateY(100px) translateZ(100px);
          transform: translateX(100px) translateY(100px) translateZ(100px); }

.holder .cub-11 {
  -webkit-transform: translateX(-100px) translateY(-100px) translateZ(-100px);
          transform: translateX(-100px) translateY(-100px) translateZ(-100px); }

.holder .cub-12 {
  -webkit-transform: translateX(100px) translateY(-100px) translateZ(-100px);
          transform: translateX(100px) translateY(-100px) translateZ(-100px); }

.holder .cub-13 {
  -webkit-transform: translateX(-100px) translateY(100px) translateZ(-100px);
          transform: translateX(-100px) translateY(100px) translateZ(-100px); }

.holder .cub-14 {
  -webkit-transform: translateX(100px) translateY(100px) translateZ(-100px);
          transform: translateX(100px) translateY(100px) translateZ(-100px); }

.holder .cub-15 {
  -webkit-transform: translateX(0px) translateY(-100px) translateZ(100px);
          transform: translateX(0px) translateY(-100px) translateZ(100px); }

.holder .cub-16 {
  -webkit-transform: translateX(0px) translateY(100px) translateZ(100px);
          transform: translateX(0px) translateY(100px) translateZ(100px); }

.holder .cub-17 {
  -webkit-transform: translateX(-100px) translateY(0px) translateZ(100px);
          transform: translateX(-100px) translateY(0px) translateZ(100px); }

.holder .cub-18 {
  -webkit-transform: translateX(100px) translateY(0px) translateZ(100px);
          transform: translateX(100px) translateY(0px) translateZ(100px); }

.holder .cub-19 {
  -webkit-transform: translateX(0px) translateY(-100px) translateZ(-100px);
          transform: translateX(0px) translateY(-100px) translateZ(-100px); }

.holder .cub-20 {
  -webkit-transform: translateX(0px) translateY(100px) translateZ(-100px);
          transform: translateX(0px) translateY(100px) translateZ(-100px); }

.holder .cub-21 {
  -webkit-transform: translateX(-100px) translateY(0px) translateZ(-100px);
          transform: translateX(-100px) translateY(0px) translateZ(-100px); }

.holder .cub-22 {
  -webkit-transform: translateX(100px) translateY(0px) translateZ(-100px);
          transform: translateX(100px) translateY(0px) translateZ(-100px); }

.holder .cub-23 {
  -webkit-transform: translateX(-100px) translateY(-100px) translateZ(0px);
          transform: translateX(-100px) translateY(-100px) translateZ(0px); }

.holder .cub-24 {
  -webkit-transform: translateX(-100px) translateY(100px) translateZ(0px);
          transform: translateX(-100px) translateY(100px) translateZ(0px); }

.holder .cub-25 {
  -webkit-transform: translateX(100px) translateY(-100px) translateZ(0px);
          transform: translateX(100px) translateY(-100px) translateZ(0px); }

.holder .cub-26 {
  -webkit-transform: translateX(100px) translateY(100px) translateZ(0px);
          transform: translateX(100px) translateY(100px) translateZ(0px); }
/*# sourceMappingURL=main.css.map */