$breakpoints: (
	'xs-phone': 320px,
	'phone': 480px,
	'tablet': 768px,
	'desktop': 1024px,
	'widescreen': 1200px
	);

// keywords
$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
	);

// ligatured operators ≥ ≤

@import 'vendors/include-media';
@import 'vendors/normalize';

@import 'base/variables';
@import 'base/functions';
@import 'base/mixins';
@import 'base/helpers';
@import 'base/reset';
@import 'base/typography';
@import 'base/forms';

#wrapper {
	width: 900px;
	height: 900px;
	border: 1px solid #3d3d3d;
	position: relative
}

.wrap {
	top: 40%;
	left: 40%;
	perspective: 1000px;
	transform-style: preserve-3d;
	position:absolute;
}

.main {
	height: 300px;
	width: 300px;
	transform-style: preserve-3d;
	position: relative;
	transform: rotateX(-30deg) rotateY(-30deg) rotateZ(0deg);
}

[class^="holder"] {
	width: 100px;
	height: 100px;
	position: absolute;
	transform-style: preserve-3d;
	transform: rotateX(-30deg) rotateY(-30deg) rotateZ(0deg);

}

[class^="cub"] {
	width: 100px;
	height: 100px;
	margin: 0;
	position: absolute;
	box-sizing: border-box;
	transition: transform 0.2s ease-in;
	border-radius: 6px;

	transform-origin: center;
	transform-style: preserve-3d;
	backface-visibility: hidden;
	> div {
		width: 100px;
		height: 100px;
		margin: 0;
		position: absolute;
		box-sizing: border-box;
		transition: transform 0.2s ease-in;
		border: 3px solid #3d3d3d;
		border-radius: 6px;
		transform-origin: center;
	}
}


.a {
	background-color: #4d94ff;
	transform: translateZ(50px) translateX(0px);
}
.b {
	background-color: #29a329;
	transform: translateZ(-50px) translateX(0px);
}
.c {
	background-color: #e62e00;
	transform: rotateX(90deg) translateZ(50px);
}
.d {
	background-color: #ffffff;
	transform: rotateX(90deg) translateZ(-50px);
}
.e {
	background-color: #ff9933;
	transform: rotateY(90deg) translateZ(-50px);
}
.f {
	background-color: #ffff80;
	transform: rotateY(90deg) translateZ(50px);
}

.rotate-first {
	animation: first 12s linear forwards;
	@keyframes first {
		0% {
			transform: rotateX(0deg) rotateZ(0deg);
		}
		16.67%, 100% {
			transform: rotateX(0deg) rotateZ(360deg);
		}
	}
}

.rotate-second {
	animation: second 12s linear forwards;
	@keyframes second {
		0%, 16.67% {
			transform: rotateX(0deg) rotateZ(360deg);
		}
		33.34%, 100% {
			transform: rotateX(360deg) rotateZ(360deg);
		}
	}
}

.rotate-third {
	animation: third 12s linear forwards;
	@keyframes third {
		0%, 33.34% {
			transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg);
		}
		50.1%, 100% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
		}
	}
}

.rotate-fourth {
	animation: fourth 12s linear forwards;
	@keyframes fourth {
		0%, 50.1% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
		}
		66.68%, 100% {
			transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg);
		}
	}
}

.rotate-fifth {
	animation: fifth 12s linear forwards;
	@keyframes fifth {
		0%, 66.68% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		}
		83.35%, 100% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
		}
	}
}

.rotate-sixth {
	animation: sixth 12s linear forwards;
	@keyframes sixth {
		0%, 83.35% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		}
		100% {
			transform: rotateX(0deg) rotateY(360deg) rotateZ(0deg);
		}
	}
}

.rotate-rotate1 {
	animation: rotate1 12s linear forwards;
	@keyframes rotate1 {
		0% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		}
		16.67% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
		}
		33.34% {
			transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg);
		}
		50.1% {
			transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg);
		}
		66.68% {
			transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
		}
		83.35%, 100% {
			transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
		}
	}
}

.rotate-rotate2 {
	animation: rotate2 12s linear forwards;
	@keyframes rotate2 {
		0% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		}
		16.67% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
		}
		33.34% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
		}
		50.1% {
			transform: rotateX(-360deg) rotateY(0deg) rotateZ(360deg);
		}
		66.68% {
			transform: rotateX(-360deg) rotateY(360deg) rotateZ(360deg);
		}
		83.35%, 100% {
			transform: rotateX(-360deg) rotateY(360deg) rotateZ(360deg);
		}
	}
}

.rotate-rotate3 {
	animation: rotate3 12s linear forwards;
	@keyframes rotate3 {
		0% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		}
		16.67% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
		}
		33.34% {
			transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg);
		}
		50.1% {
			transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg);
		}
		66.68% {
			transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg);
		}
		83.35%{
			transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg);
		}
		100% {
			transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
		}
	}
}

.rotate-rotate4 {
	animation: rotate4 12s linear forwards;
	@keyframes rotate4 {
		0% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		}
		16.67% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
		}
		33.34% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
		}
		50.1% {
			transform: rotateX(-360deg) rotateY(0deg) rotateZ(360deg);
		}
		66.68% {
			transform: rotateX(-360deg) rotateY(0deg) rotateZ(360deg);
		}
		83.35%{
			transform: rotateX(-360deg) rotateY(0deg) rotateZ(360deg);
		}
		100% {
			transform: rotateX(-360deg) rotateY(360deg) rotateZ(360deg);
		}
	}
}

.rotate-rotate5 {
	animation: rotate5 12s linear forwards;
	@keyframes rotate5 {
		0% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		}
		16.67% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		}
		33.34% {
			transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);
		}
		50.1% {
			transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);
		}
		66.68% {
			transform: rotateX(360deg) rotateY(360deg) rotateZ(0deg);
		}
		83.35%{
			transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
		}
		100% {
			transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
		}
	}
}

.rotate-rotate6 {
	animation: rotate6 12s linear forwards;
	@keyframes rotate6 {
		0% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		}
		16.67% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		}
		33.34% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		}
		50.1% {
			transform: rotateX(-360deg) rotateY(0deg) rotateZ(0deg);
		}
		66.68% {
			transform: rotateX(-360deg) rotateY(360deg) rotateZ(0deg);
		}
		83.35%{
			transform: rotateX(-360deg) rotateY(360deg) rotateZ(360deg);
		}
		100% {
			transform: rotateX(-360deg) rotateY(360deg) rotateZ(360deg);
		}
	}
}

.rotate-rotate7 {
	animation: rotate7 12s linear forwards;
	@keyframes rotate7 {
		0% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		}
		16.67% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		}
		33.34% {
			transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);
		}
		50.1% {
			transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);
		}
		66.68% {
			transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);
		}
		83.35%{
			transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg);
		}
		100% {
			transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
		}
	}
}

.rotate-rotate8 {
	animation: rotate8 12s linear forwards;
	@keyframes rotate8 {
		0% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		}
		16.67% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		}
		33.34% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		}
		50.1% {
			transform: rotateX(-360deg) rotateY(0deg) rotateZ(0deg);
		}
		66.68% {
			transform: rotateX(-360deg) rotateY(0deg) rotateZ(0deg);
		}
		83.35%{
			transform: rotateX(-360deg) rotateY(0deg) rotateZ(360deg);
		}
		100% {
			transform: rotateX(-360deg) rotateY(360deg) rotateZ(360deg);
		}
	}
}

.rotate-rotate9 {
	animation: rotate9 12s linear forwards;
	@keyframes rotate9 {
		0% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		}
		16.67% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
		}
		33.34% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
		}
		50.1% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
		}
		66.68% {
			transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg);
		}
		83.35%{
			transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg);
		}
		100% {
			transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg);
		}
	}
}

.rotate-rotate10 {
	animation: rotate10 12s linear forwards;
	@keyframes rotate10 {
		0% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		}
		16.67% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
		}
		33.34% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
		}
		50.1% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
		}
		66.68% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
		}
		83.35%{
			transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
		}
		100% {
			transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg);
		}
	}
}

.rotate-rotate11 {
	animation: rotate11 12s linear forwards;
	@keyframes rotate11 {
		0% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		}
		16.67% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
		}
		33.34% {
			transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg);
		}
		50.1% {
			transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg);
		}
		66.68% {
			transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg);
		}
		83.35%{
			transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg);
		}
		100% {
			transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg);
		}
	}
}

.rotate-rotate12 {
	animation: rotate12 12s linear forwards;
	@keyframes rotate12 {
		0% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		}
		16.67% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
		}
		33.34% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
		}
		50.1% {
			transform: rotateX(-360deg) rotateY(0deg) rotateZ(360deg);
		}
		66.68% {
			transform: rotateX(-360deg) rotateY(0deg) rotateZ(360deg);
		}
		83.35%{
			transform: rotateX(-360deg) rotateY(0deg) rotateZ(360deg);
		}
		100% {
			transform: rotateX(-360deg) rotateY(0deg) rotateZ(360deg);
		}
	}
}

.rotate-rotate13 {
	animation: rotate13 12s linear forwards;
	@keyframes rotate13 {
		0% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		}
		16.67% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		}
		33.34% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		}
		50.1% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		}
		66.68% {
			transform: rotateX(0deg) rotateY(360deg) rotateZ(0deg);
		}
		83.35%{
			transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg);
		}
		100% {
			transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg);
		}
	}
}

.rotate-rotate14 {
	animation: rotate14 12s linear forwards;
	@keyframes rotate14 {
		0% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		}
		16.67% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		}
		33.34% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		}
		50.1% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		}
		66.68% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		}
		83.35%{
			transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
		}
		100% {
			transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg);
		}
	}
}

.rotate-rotate15 {
	animation: rotate15 12s linear forwards;
	@keyframes rotate15 {
		0% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		}
		16.67% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		}
		33.34% {
			transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);
		}
		50.1% {
			transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);
		}
		66.68% {
			transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);
		}
		83.35%{
			transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg);
		}
		100% {
			transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg);
		}
	}
}

.rotate-rotate16 {
	animation: rotate16 12s linear forwards;
	@keyframes rotate16 {
		0% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		}
		16.67% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		}
		33.34% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		}
		50.1% {
			transform: rotateX(-360deg) rotateY(0deg) rotateZ(0deg);
		}
		66.68% {
			transform: rotateX(-360deg) rotateY(0deg) rotateZ(0deg);
		}
		83.35%{
			transform: rotateX(-360deg) rotateY(0deg) rotateZ(360deg);
		}
		100% {
			transform: rotateX(-360deg) rotateY(0deg) rotateZ(360deg);
		}
	}
}

.rotate-rotate17 {
	animation: rotate17 12s linear forwards;
	@keyframes rotate17 {
		0% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		}
		16.67% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		}
		33.34% {
			transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);
		}
		50.1% {
			transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);
		}
		66.68% {
			transform: rotateX(360deg) rotateY(360deg) rotateZ(0deg);
		}
		83.35%{
			transform: rotateX(360deg) rotateY(360deg) rotateZ(0deg);
		}
		100% {
			transform: rotateX(360deg) rotateY(360deg) rotateZ(0deg);
		}
	}
}

.rotate-rotate18 {
	animation: rotate18 12s linear forwards;
	@keyframes rotate18 {
		0% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		}
		16.67% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		}
		33.34% {
			transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);
		}
		50.1% {
			transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);
		}
		66.68% {
			transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);
		}
		83.35%{
			transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);
		}
		100% {
			transform: rotateX(360deg) rotateY(360deg) rotateZ(0deg);
		}
	}
}

.rotate-rotate19 {
	animation: rotate19 12s linear forwards;
	@keyframes rotate19 {
		0% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		}
		16.67% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		}
		33.34% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		}
		50.1% {
			transform: rotateX(-360deg) rotateY(0deg) rotateZ(0deg);
		}
		66.68% {
			transform: rotateX(-360deg) rotateY(360deg) rotateZ(0deg);
		}
		83.35%{
			transform: rotateX(-360deg) rotateY(360deg) rotateZ(0deg);
		}
		100% {
			transform: rotateX(-360deg) rotateY(360deg) rotateZ(0deg);
		}
	}
}

.rotate-rotate20 {
	animation: rotate20 12s linear forwards;
	@keyframes rotate20 {
		0% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		}
		16.67% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		}
		33.34% {
			transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		}
		50.1% {
			transform: rotateX(-360deg) rotateY(0deg) rotateZ(0deg);
		}
		66.68% {
			transform: rotateX(-360deg) rotateY(0deg) rotateZ(0deg);
		}
		83.35%{
			transform: rotateX(-360deg) rotateY(0deg) rotateZ(0deg);
		}
		100% {
			transform: rotateX(-360deg) rotateY(360deg) rotateZ(0deg);
		}
	}
}

.holder {
	.cub-1 {
		transform: translateX(0px) translateY(0px) translateZ(100px);
	}
	.cub-2 {
		transform: translateX(0px) translateY(0px) translateZ(-100px);
	}
	.cub-3 {
		transform: translateX(0px) translateY(-100px) translateZ(0px);
	}
	.cub-4 {
		transform: translateX(0px) translateY(100px) translateZ(0px);
	}
	.cub-5 {
		transform: translateX(-100px) translateY(0px) translateZ(0px);
	}
	.cub-6 {
		transform: translateX(100px) translateY(0px) translateZ(0px);
	}
	.cub-7 {
		transform: translateX(-100px) translateY(-100px) translateZ(100px);
	}
	.cub-8 {
		transform: translateX(100px) translateY(-100px) translateZ(100px);
	}
	.cub-9 {
		transform: translateX(-100px) translateY(100px) translateZ(100px);
	}
	.cub-10 {
		transform: translateX(100px) translateY(100px) translateZ(100px);
	}
	.cub-11 {
		transform: translateX(-100px) translateY(-100px) translateZ(-100px);
	}
	.cub-12 {
		transform: translateX(100px) translateY(-100px) translateZ(-100px);
	}
	.cub-13 {
		transform: translateX(-100px) translateY(100px) translateZ(-100px);
	}
	.cub-14 {
		transform: translateX(100px) translateY(100px) translateZ(-100px);
	}
	.cub-15 {
		transform: translateX(0px) translateY(-100px) translateZ(100px);
	}
	.cub-16 {
		transform: translateX(0px) translateY(100px) translateZ(100px);
	}
	.cub-17 {
		transform: translateX(-100px) translateY(0px) translateZ(100px);
	}
	.cub-18 {
		transform: translateX(100px) translateY(0px) translateZ(100px);
	}
	.cub-19 {
		transform: translateX(0px) translateY(-100px) translateZ(-100px);
	}
	.cub-20 {
		transform: translateX(0px) translateY(100px) translateZ(-100px);
	}
	.cub-21 {
		transform: translateX(-100px) translateY(0px) translateZ(-100px);
	}
	.cub-22 {
		transform: translateX(100px) translateY(0px) translateZ(-100px);
	}
	.cub-23 {
		transform: translateX(-100px) translateY(-100px) translateZ(0px);
	}
	.cub-24 {
		transform: translateX(-100px) translateY(100px) translateZ(0px);
	}
	.cub-25 {
		transform: translateX(100px) translateY(-100px) translateZ(0px);
	}
	.cub-26 {
		transform: translateX(100px) translateY(100px) translateZ(0px);
	}
}